
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Prata&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.blackimage{
  position: absolute;
width: 620px;
height: 555px;
left: 20px;
top: calc(50% - 555px/2);
border-radius: 20px;
}

.ptls{
  position: absolute;
width: 61px;
height: 49px;
left: calc(50% - 61px/2 + 320.5px);
top: 78px;
}


.wb{
  position: absolute;
  width: 266px;
  height: 44px;
  left: 827px;
  top: 127px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 130%;
  /* or 44px */
  
  text-align: center;
  text-transform: capitalize;
  
  color: #020100;
}
.SOMEthing{
  
  padding: 0 100px;
}

